html {
    width: min(90svw, 60rem);
    margin: 0 auto;
}

p {
    font-size: 115%;
    line-height: 1.6;
}

.big-button {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 18px;
    font-size: 250%;
    font-weight: bold;
    border: 0;
    border-radius: 9999px;
    background-color: #222;
    color: #eee;
    box-shadow: #777 4px 4px 16px;
}

.big-button:active {
    box-shadow: unset;
}
